@model EjemploMVC_MAT.Models.Card

<h1>@Model.Name</h1>
<p>@Model.Desc</p>

<!-- Mostrar las imágenes -->
@if (Model.Card_Images != null && Model.Card_Images.Count > 0)
{
    <img src="@Model.Card_Images[0].Image_Url" alt="@Model.Name" class="img-fluid" />
}
else
{
    <p>No image available</p>
}

<!-- Mostrar los precios -->
@if (Model.Card_Prices != null && Model.Card_Prices.Count > 0)
{
    <p>Cardmarket Price: @Model.Card_Prices[0].Cardmarket_Price</p>
    <p>Tcgplayer Price: @Model.Card_Prices[0].Tcgplayer_Price</p>
    <p>Ebay Price: @Model.Card_Prices[0].Ebay_Price</p>
    <p>Amazon Price: @Model.Card_Prices[0].Amazon_Price</p>
    <p>Coolstuffinc Price: @Model.Card_Prices[0].Coolstuffinc_Price</p>
}
else
{
    <p>No prices available</p>
}
