@model EjemploMVC_MAT.Models.Card

<div class="container">
    <h1>@Model.Name</h1>
    <div class="row">
        <div class="col-md-6">
            @if (Model.CardImages != null && Model.CardImages.Any())
            {
                <img src="@Model.CardImages.FirstOrDefault()?.ImageUrl" class="img-fluid" alt="@Model.Name" />
            }
            else
            {
                <p>No image available</p>
            }
        </div>
        <div class="col-md-6">
            <h4>Descripción</h4>
            <p>@Model.Desc</p>
            <h4>Precios</h4>
            <ul>
                @if (Model.CardPrices != null && Model.CardPrices.Any())
                {
                    <li>Cardmarket: $@Model.CardPrices?.FirstOrDefault()?.CardmarketPrice</li>
                    <li>Tcgplayer: $@Model.CardPrices?.FirstOrDefault()?.TcgplayerPrice</li>
                    <li>Ebay: $@Model.CardPrices?.FirstOrDefault()?.EbayPrice</li>
                    <li>Amazon: $@Model.CardPrices?.FirstOrDefault()?.AmazonPrice</li>
                }
                else
                {
                    <li>No prices available</li>
                }
            </ul>
            <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Volver</a>
        </div>
    </div>
</div>
